@import '~bootstrap/scss/bootstrap';

.navbar{
  background-color: #a71d2a;
 
}

.navbar-brand{
  color: #eeeeee;
  text-decoration: none;
}
.nav-link{
  font-size: large;
  color: #eeeeee;
  text-decoration: none;
}

.page-header {
  @extend .d-flex ;
  @extend .justify-content-between ;
  @extend .align-items-center ;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;

  h1 {
    margin-bottom: 0;
  }
}